---
layout: blog
title: Blog
permalink: /blog/
---

<div class="post-preview">
    {% for post in site.posts %}
        <div class="post-preview">
            <a href="{{ post.url | prepend: site.baseurl }}">
                <h2 class="post-title">
                    {{ post.title }}
                </h2>
                <h3 class="post-subtitle">
                    Many say exploration is part of our destiny, but it’s actually our duty to future generations.
                </h3>
            </a>
            <p class="post-meta">Posted by <a href="#">{{ page.author }}</a> on {{ post.date | date: "%b %-d, %Y" }}</p>
        </div>
        {% if forloop.index != forloop.length %}
            <hr>
        {% endif %}
    {% endfor %}
</div>
