{% load staticfiles cms_tags %}

<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-image: url('{% static 'img/header/' %}{{ request.current_page|lower }}.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    {% placeholder "feature" %}
                </div>
            </div>
        </div>
    </div>
</header>
